html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

*:active{
  outline: none
}

.window {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-1 {
  background-color: rgb(31, 42, 32);
  letter-spacing: 10px;
  font-size: 80px;
  position: relative;
  overflow: hidden;
}
.window-2 {
  background-color: #003954;
}
.window-3 {
  background-color: rgb(70, 34, 14);
}
.window-4 {
  background-color: rgb(42, 42, 42);
}

.window-5 {
  background-color: rgb(0, 105, 21);
}

.window-6 {
  background-color: rgb(244, 94, 255);
}

.window-7 {
  background-color: rgb(94, 207, 255);
}

#neonBorder, #rambowBorder, #rambowShadow, #flash-3d {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

#rambowShadow {
  background-color: rgb(0, 105, 21);
}

#flash-3d {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}
