html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

*:active{
  outline: none
}

.window {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-1 {
  background-color: rgb(31, 42, 32);
  letter-spacing: 10px;
  font-size: 80px;
  position: relative;
  overflow: hidden;
}
.window-2 {
  background-color: #003954;
}
.window-3 {
  background-color: rgb(70, 34, 14);
}
.window-4 {
  background-color: rgb(42, 42, 42);
}

.window-5 {
  background-color: rgb(0, 105, 21);
}

.window-6 {
  background-color: rgb(244, 94, 255);
}

.window-7 {
  background-color: rgb(94, 207, 255);
  display: grid;
  grid-template-columns:  1fr 1fr;
}

.window > div {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-8 {
  background-color: rgb(94, 255, 148);
}

#neonBorder, #rambowBorder, #rambowShadow, #flash-3d {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

#rambowShadow {
  background-color: rgb(0, 105, 21);
}

.cube {
  animation: move  6s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-1 {
  animation-delay: 1s;
  font-size: 40px;
}

.cube-2 {
  animation-delay: 2s;
  font-size: 20px;
}

.cube-3 {
  animation-delay: 3s;
}

.cube-4 {
  animation-delay: 4s;
}

.cube-insight-text {
  transform: translateZ(-50px);
}

@keyframes move {
  0% {
    transform: rotate3d(1,1,0, 66deg)
  }
  20% {
    transform: rotate3d(2,2,0, 0deg)
  }
  40% {
    transform: rotate3d(1,2,4, 226deg)
  }
  60% {
   transform: rotate3d(1,5,3, 6deg)
  }
  80% {
    transform: rotate3d(2,1,0, 189deg)
  }
  100% {
    transform: rotate3d(1,1,0, 66deg)
  }

}

#flash-3d {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

